@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;-webkit-tap-highlight-color:rgba(255,0,0,0)}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:none}
table{border-collapse:collapse;border-spacing:0}
body{overflow-x:hidden;font-family:"Microsoft Yahei"}
body,input,select,textarea{font:12px/2 sans-serif,Arial,Verdana;color:#333;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
button,input,select,textarea{outline:0;border:none;border-radius:0;-moz-appearance:none;appearance:none;-webkit-appearance:none;background-color:transparent;font:.32rem/2 Helvetica}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none!important;margin:0}
input::-webkit-input-placeholder{color:#ccc;text-indent:2px}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
@font-face{font-family:iconfont;src:url(../font/iconfont_056ace.eot);src:url(../font/iconfont_056ace.eot?#iefix) format("eot"),url(../font/iconfont_cc98d2.woff) format("woff"),url(../font/iconfont_56d44b.ttf) format("truetype"),url(../font/iconfont_b55ff4.svg#iconfont) format("svg")}
.icon-bank-ABC:before,.icon-bank-BCM:before,.icon-bank-BOC:before,.icon-bank-CCB:before,.icon-bank-CEB:before,.icon-bank-CIB:before,.icon-bank-CMB:before,.icon-bank-CMBC:before,.icon-bank-CNCB:before,.icon-bank-GDB:before,.icon-bank-HXB:before,.icon-bank-ICBC:before,.icon-bank-PAB:before,.icon-bank-PSBC:before,.icon-bank-SHB:before,.icon-bank-SPDB:before,.icon-close:before,.icon-delete:before,.icon-g:before,.icon-grb-safekeyboard-delete:before,.icon-jishu:before,.icon-plus:before,.icon-triangle:before,.icon-wait:before,.icon-zijin:before{font-family:iconfont;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;text-transform:none;vertical-align:middle}
.icon-bank-ABC:before{content:""}
.icon-bank-BCM:before{content:""}
.icon-bank-BOC:before{content:""}
.icon-bank-CCB:before{content:""}
.icon-bank-CEB:before{content:""}
.icon-bank-CIB:before{content:""}
.icon-bank-CMB:before{content:""}
.icon-bank-CMBC:before{content:""}
.icon-bank-CNCB:before{content:""}
.icon-bank-GDB:before{content:""}
.icon-bank-HXB:before{content:""}
.icon-bank-ICBC:before{content:""}
.icon-bank-PAB:before{content:""}
.icon-bank-PSBC:before{content:""}
.icon-bank-SHB:before{content:""}
.icon-bank-SPDB:before{content:""}
.icon-close:before{content:""}
.icon-delete:before{content:""}
.icon-g:before{content:""}
.icon-grb-safekeyboard-delete:before{content:""}
.icon-jishu:before{content:""}
.icon-plus:before{content:""}
.icon-triangle:before{content:""}
.icon-wait:before{content:""}
.icon-zijin:before{content:""}
.silver{color:#ccc!important}
.blue{color:#5580f7!important}
.red{color:#ff5a6b!important}
.green{color:#2acea2!important}
.gray{color:#565656!important}
.dark{color:#333!important}
.ash{color:#999!important}
.light{color:#ddd!important}
.input{color:#181818!important}
.orange{color:#fda354!important}




.stb-desc-title{text-align:center;color:#333;font-size:48px;line-height:1;padding-top:120px;margin-bottom:80px;font-weight:400}
.team-member{box-sizing:border-box;background-color:#fff;padding-bottom:40px;}
.team-member span{background-repeat:no-repeat;background-size:cover;background-position:center center;}
.team-member-title{padding-top:120px;color:#333333;text-align:center;font-size:24px;line-height:1;}
.team-member-title-decoration{display:block;width:40px;height:2px;background-color:#5785eb;margin:22px auto 30px;}
.team-member ul li span{display:inline-block;width:130px;height:130px;margin:0 auto;border-radius:50%;overflow:hidden;position:relative;}
.team-member ul li .name{color:#333333;font-size:16px;line-height:1;margin:16px 0;font-weight:bolder;}
.team-member ul li .title{color:#999999;font-size:12px;line-height:1.6;}
@media (max-width:1200px){.job{font-size:16px;}
}
li div.pintro{display:none;}

@media (max-width:1200px){.job{font-size:16px;}
}
@media (max-width:500px){
    .team-member ul{width: 100%;}
    .team-member ul li{width:100%;margin: 0;}
}
