<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soft2b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>soft2b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>soft2b</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$soft2b</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ContributeDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=stbdb.database.windows.net;Initial Catalog=stbdb;User ID=stbdb;Password=ezOng0815" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContributeComponents.Repositories.Ef.ContributeDbContext, ContributeComponents" MigrationConfiguration="ContributeComponents.Migrations.Configuration, ContributeComponents" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContributeDbContext-Web.config Connection String">
      <ParameterValue>Data Source=stbdb.database.windows.net;Initial Catalog=stbdb;User ID=stbdb;Password=ezOng0815</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>