<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Telegram STBChain|soft2b</title>
    <meta name="description" content="soft2b.com is a blockchain, STB Chain">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body class="tele-wrap">
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer"><a href="~/" class="homelink">www.gymchain.io</a></footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
