
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TelegramLayout.cshtml";
}
<div class="row title--right"><div class="col-xs-12 text-right"><a href="~/Telegram/home" class="langchange">ENGLISH</a></div></div>
<div class="row">
    <div class="col-md-12 logo-wrap">
        <div class="logo-cont"><img src="~/images/logo.png" class="logo" /></div>
    </div>
    
    <div class="col-md-12 text--centered"><a href="https://t.me/gymchain_io" target="_blank" class="btn btn-alt">加入GCC电报群</a></div>
    <div class="col-md-12 sometxt">每邀请一个好友加入，你将额外获得<span class="flarge">2</span>个GCC,邀请越多，奖励越多，赶快行动！</div>
</div>
<div class="row e-address">
    <input type="hidden" value="@ViewBag.ParentId" name="parentId" class="parId" />
    <div class="form-group col-md-offset-2 col-md-8 e-addr"><input type="text" class="form-control inp" placeholder="请输入你的ETH钱包地址" name="ethAddress" required /></div>
    <div class="form-group col-md-offset-2 col-md-8 e-sub"><input type="submit" class="btn-sub" value="提交" /></div>
</div>
<div class="modal fade pop-tip" tabindex="-1" role="dialog">
    <div class="alert alert-warning alert-dismissible" tabindex="-1">
        <p class="tip-txt"></p>
    </div>
</div>
<div class="row">
    <p class="col-md-offset-1 col-md-10 break-word font-12">
        GymChain 健身链所致力发展的是基于区块链 3.0 技术、智能运动健身手环、 大数据分析、区块链等技术的智能运动健康管理平台。
    </p>
</div>

@section Scripts {
<script src="~/Scripts/telegram.js"></script>
}



