
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TelegramLayout.cshtml";
}
<div class="row title--right"><div class="col-xs-12 text-right"><a href="~/Telegram/home" class="langchange"></a></div></div>
<div class="row">
    <div class="col-md-12 logo-wrap">
        <div class="logo-cont"><img src="~/images/token-logo.png" class="logo" />STB</div>
        <strong class="slogen">소프트웨어 배포를 더 자유롭게 만듭니다</strong>
    </div>

    <div class="col-md-12 text--centered"><a href="https://t.me/joinchat/Hu3BJw-_Ke6lFDBYyRRylQ" target="_blank" class="btn btn-alt">가입 STB 전보 그룹</a></div>
    <div class="col-md-12 sometxt text--centered">각자 초대 할 친구를 초대하면 여분의 2 STB를 받게되며 초대장이 많을수록 더 많은 보상과 서둘러 행동을 취하게됩니다!</div>
</div>
<div class="row e-address">
    <input type="hidden" value="@ViewBag.ParentId" name="parentId" class="parId" />
    <div class="form-group col-md-offset-2 col-md-8 e-addr"><input type="text" class="form-control inp" placeholder="ETH 지갑 주소를 입력하십시오." name="ethAddress" required /></div>
    <div class="form-group col-md-offset-2 col-md-8 e-sub"><input type="submit" class="btn-sub" value="제출" /></div>
</div>
<div class="modal fade pop-tip" tabindex="-1" role="dialog">
    <div class="alert alert-warning alert-dismissible" tabindex="-1">
        <p class="tip-txt">loading</p>
    </div>
</div>
<div class="row">
    <p class="col-md-offset-1 col-md-10 break-word">
        세계 최고의 소프트웨어 대 블록 체인 기술 방문 애플리케이션 인 STB Chain (STB)은 클라우드 컴퓨팅, 빅 데이터, AI 및 SaaS 클라우드 서비스를 포괄하는 분산 형, 변조 방지 및 추적 가능한 과학 기술 결과 기반 거래 시스템입니다. 다중 도메인 기술 응용 프로그램의 목표는 국경없는 소프트웨어 응용 프로그램 서비스의 분산 된 생태계를 구축하는 것입니다. 블록 체인과 소프트웨어 업계의 결합을 통해 친환경적이고 양성한 소프트웨어 배포, 확인 및 거래 플랫폼이 확립 될 것입니다.
    </p>
</div>

@section Scripts {
    <script src="~/Scripts/telegram.js"></script>
}



