@model ContributeComponents.Domains.Applications

@{
    ViewBag.Title = "Success";
    string successStr = "Congratulations on your successful submission!";
    Layout = "~/Views/Shared/_CreateLayout.cshtml";
}

<div class="parallax-image" data-type="background" data-speed="2" style="background-position: 50% 0px;">
</div>
<div class="container text-center centerPiece">
    <div class="col col-sm-12 countDown-cont rounded">
        <div class="row justify-content-center">
            <div class="col col-sm-12">
                <img src="~/to/images/show-logo.png" width="300"><br>
                <p class="title title--centered">SOFT2B.COM</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<div class="suc-tip">
   <span><img src="~/images/icon/suc.png" /><br />@successStr</span>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/activeMenu.js"></script>
}
